body
  overflow-x: hidden!important
  width: 100%

  //VARS
$mainColor: #F61920
$secColor: #2D2D2D

// CONVERT FUNC  
=toREM($v)
  font-size: ($v/16)+em
=itoREM($v)
  font-size: ($v/16)+em!important

*
  padding: 0
  margin: 0
  &::selection
    background: $mainColor
    color: white

.flexibilize
  display: flex

.space-between
  justify-content: space-between

.justify-center
  justify-content: center

.line-height-augmented
  line-height: 30px

.align-center
  align-items: center

.container
  max-width: 1440px
  @include break-1450
    max-width: 1180px

.bg-mainColor
  background-color: $mainColor
.bg-secColor
  background-color: $secColor

.text-white
  color: white

.text-main
  color: $mainColor

.text-secondary
  color: $secColor

.--no-link-style
  color: inherit!important
  text-decoration: none!important

h1,h2,h3,h4,h5,h6
  font-family: 'Roboto', sans-serif
  font-weight: 500
p,ul,li,a,div,section,article,ol
  font-family: 'Roboto', sans-serif

.text-center
  text-align: center

.my-120
  margin-top: 120px
  margin-bottom: 120px
  @include break-1450
    margin-top: 40px
    margin-bottom: 40px

.py-120
  padding-top: 120px
  padding-bottom: 120px
  @include break-1450
    padding-top: 40px
    padding-bottom: 40px

.py-80
  padding-top: 80px
  padding-bottom: 80px
  @include break-1199
    padding-top: 40px
    padding-bottom: 40px

.py-60
  padding-top: 60px
  padding-bottom: 60px
  @include break-1199
    padding-top: 30px
    padding-bottom: 30px

.my-80
  margin-top: 80px
  margin-bottom: 80px
  @include break-1199
    margin-top: 40px
    margin-bottom: 40px

.mb-120
  margin-bottom: 120px
  @include break-1199
    margin-bottom: 60px

.mb-140
  margin-bottom: 140px
  @include break-1199
    margin-bottom: 70px

.force-center
  margin: 0 auto

.mt-40
  margin-top: 40px

.mt-120
  margin-top: 120px

.img-fluid
  width: 100%
  max-width: fit-content

.img-full-fluid
  width: 100%

.btn
  color: white!important
  font-weight: 500
  +toREM(18)
  padding: 7px 50px
  transition: padding ease .3s
  @include break-1450
    +toREM(15)
    padding: 7px 35px
  &:hover
    padding: 7px 45px
    @include break-1450
      padding: 7px 30px

.btn-main
  background: $mainColor

.btn-main-white
  color: $mainColor!important
  background: white
  border: solid 2px $mainColor

.btn-baby
  padding: 7px 25px
  @include break-1450
    padding: 7px 20px
  &:hover
    padding: 7px 20px
    @include break-1450
      padding: 7px 15px

// SLICK BUG FIX
.slick-track
  display: flex
  *
    outline: none
.mt-xs-4
  @media screen and (max-width: 575px)
    margin-top: 40px!important
.mt-sm-4
  @media screen and (max-width: 768px)
    margin-top: 40px!important
.mt-md-4
  @media screen and (max-width: 991px)
    margin-top: 40px!important
.mt-lg-4
  @media screen and (max-width: 1199px)
    margin-top: 40px!important

.mb-xs-4
  @media screen and (max-width: 575px)
    margin-bottom: 40px!important
.mb-sm-4
  @media screen and (max-width: 768px)
    margin-bottom: 40px!important
.mb-md-4
  @media screen and (max-width: 991px)
    margin-bottom: 40px!important
.mb-lg-4
  @media screen and (max-width: 1199px)
    margin-bottom: 40px!important

.mt-xs-3
  @media screen and (max-width: 575px)
    margin-top: 30px!important
.mt-sm-3
  @media screen and (max-width: 768px)
    margin-top: 30px!important
.mt-md-3
  @media screen and (max-width: 991px)
    margin-top: 30px!important
.mt-lg-3
  @media screen and (max-width: 1199px)
    margin-top: 30px!important

.mb-xs-3
  @media screen and (max-width: 575px)
    margin-bottom: 30px!important
.mb-sm-3
  @media screen and (max-width: 768px)
    margin-bottom: 30px!important
.mb-md-3
  @media screen and (max-width: 991px)
    margin-bottom: 30px!important
.mb-lg-3
  @media screen and (max-width: 1199px)
    margin-bottom: 30px!important

.mt-xs-2
  @media screen and (max-width: 575px)
    margin-top: 20px!important
.mt-sm-2
  @media screen and (max-width: 768px)
    margin-top: 20px!important
.mt-md-2
  @media screen and (max-width: 991px)
    margin-top: 20px!important
.mt-lg-2
  @media screen and (max-width: 1199px)
    margin-top: 20px!important

.mb-xs-2
  @media screen and (max-width: 575px)
    margin-bottom: 20px!important
.mb-sm-2
  @media screen and (max-width: 768px)
    margin-bottom: 20px!important
.mb-md-2
  @media screen and (max-width: 991px)
    margin-bottom: 20px!important
.mb-lg-2
  @media screen and (max-width: 1199px)
    margin-bottom: 20px!important

.mt-xs-1
  @media screen and (max-width: 575px)
    margin-top: 10px!important
.mt-sm-1
  @media screen and (max-width: 768px)
    margin-top: 10px!important
.mt-md-1
  @media screen and (max-width: 991px)
    margin-top: 10px!important
.mt-lg-1
  @media screen and (max-width: 1199px)
    margin-top: 10px!important

.mb-xs-1
  @media screen and (max-width: 575px)
    margin-bottom: 10px!important
.mb-sm-1
  @media screen and (max-width: 768px)
    margin-bottom: 10px!important
.mb-md-1
  @media screen and (max-width: 991px)
    margin-bottom: 10px!important
.mb-lg-1
  @media screen and (max-width: 1199px)
    margin-bottom: 10px!important

.px-xs-1
  @media screen and (max-width: 575px)
    padding-left: 10px!important
    padding-right: 10px!important
.px-sm-1
  @media screen and (max-width: 768px)
    padding-left: 10px!important
    padding-right: 10px!important
.px-md-1
  @media screen and (max-width: 991px)
    padding-left: 10px!important
    padding-right: 10px!important
.px-lg-1
  @media screen and (max-width: 1199px)
    padding-left: 10px!important
    padding-right: 10px!important

.px-xs-2
  @media screen and (max-width: 575px)
    padding-left: 20px!important
    padding-right: 20px!important
.px-sm-2
  @media screen and (max-width: 768px)
    padding-left: 20px!important
    padding-right: 20px!important
.px-md-2
  @media screen and (max-width: 991px)
    padding-left: 20px!important
    padding-right: 20px!important
.px-lg-2
  @media screen and (max-width: 1199px)
    padding-left: 20px!important
    padding-right: 20px!important
