.--medium
  font-weight: 500!important
.--light-gray
  color: #B7B7B7!important

body
  padding-top: 120px!important
  @include break-1450
    padding-top: 80px!important

.responsive-menu
  width: 40px
  flex-direction: column
  align-items: flex-end
  display: none
  @include break-575
    display: flex
  &.opened
    position: relative
    div
      position: absolute
      width: 100%
      &:nth-child(1)
        width: 100%
        transform: rotate(45deg)
      &:nth-child(2)
        opacity: 0
      &:nth-child(3)
        width: 100%
        transform: rotate(-45deg)
  div
    height: 3px
    transition: all ease .3s
    background: $mainColor
    width: 100%
    &:nth-child(1)
      width: 90%
      margin-bottom: 7px
    &:nth-child(2)
      width: 100%
      margin-bottom: 7px
    &:nth-child(3)
      width: 80%

header
  border-bottom: solid 1px #eee
  box-shadow: 2px 0 10px 1px #eee
  position: fixed
  top: 0
  width: 100%
  left: 0
  background: white
  z-index: 999
  menu
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
    height: 120px
    transition: height ease .3s
    @include break-1450
      height: 80px
      & > a img
        width: 150px
      nav
        ul
          li
            +itoREM(15)
    &.slim
      height: 80px
      & > a img
        width: 150px
      nav
        ul
          li
            +itoREM(15)
    & > a img
      transition: transform ease .2s, width ease .2s
      cursor: pointer
      &:hover
        transform: scale(1.01)
    nav
      display: flex
      justify-content: space-between
      width: 100%
      ul
        margin: 0
        margin-left: 60px
        li
          display: inline-block
          +toREM(18)
          color: #737373
          margin: 0 20px
          font-weight: 500
          position: relative
          transition: color ease .3s, font-size ease .2s
          &:hover, &.active
            color: $mainColor
            &::after
              width: 22px
          &::after
            content: ""
            width: 0px
            height: 2px
            background: $mainColor
            position: absolute
            bottom: -2px
            right: 0
            transition: width ease .3s
      a
        margin: 0

      @include break-575
        position: fixed
        top: 80px
        background: white
        bottom: 0
        left: 0
        right: 0
        display: none
        flex-direction: column
        &::after
          content: url('../img/menu.svg')
          position: absolute
          right: 15px
          bottom: 100px
        ul
          margin: 0
          justify-content: center
          display: flex
          margin-top: 30px
          flex-direction: column
          li
            display: block
            margin: 10px 0 0 20px
            +itoREM(17)
            width: fit-content
        a
          width: 100%
          padding: 20px 0!important
          +itoREM(18)

.bigger
  h2
    font-weight: 900
  p
    +toREM(18)

.section-title
  color: #3A3A3A
  +toREM(36)
  @include break-1450
    +toREM(30)
  @include break-991
    text-align: center
  @include break-768
    +toREM(23)

section#mainSection
  height: 800px
  display: flex
  align-items: center
  position: relative
  @include break-1450
    height: 700px
  @include break-1199
    height: 600px
  @include break-1199
    height: 450px
  @include break-575
    height: auto
    padding: 30px 20px 0
  &::after
    content: ""
    width: 1400px
    height: 1400px
    background-image: url('../img/background-header.svg')
    background-repeat: no-repeat
    background-position: center
    position: absolute
    background-size: contain
    top: 20px
    right: 0
    z-index: -1
    @include break-1450
      width: 700px
      height: 700px
      top: -30px
    @include break-1199
      width: 600px
      height: 600px
      top: -30px
    @include break-1199
      width: 450px
      height: 450px
      top: 0
  .ma-image
    top: 0
    right: 0
    position: absolute
    @include break-575
      display: none
    img
      position: absolute
      right: 0
      @include break-1450
        width: 600px
      @include break-1199
        width: 450px
      @include break-991
        width: 350px

.heading-section
  @include break-575
    text-align: center
  h1
    +toREM(50)
    color: black
    @include break-1450
      +toREM(35)
    @include break-991
      +toREM(25)
    @include break-575
      +toREM(20)
  p
    color: #878787
    +toREM(18)
    @include break-1450
      +toREM(16)
    @include break-991
      +toREM(15)
    @include break-991
      +toREM(14)

#vantagens
  @include break-575
    padding: 0 20px

section.virtualMarket
  .info-group
    padding: 20px 0
    transition: padding ease .4s, box-shadow ease .4s
    &:fisrt-child
      margin-top: -30px
    p
      margin: 0
    &.hoverable
      img
        filter: saturate(0)
        opacity: .4
        transition: all ease .3s
      &:hover
        padding: 20px 10px
        background: white
        border: solid 1px #eee
        box-shadow: 0 0 7px 1px #eeeeee80
        img
          filter: saturate(1)
          opacity: 1
    h4
      color: #656678
      +toREM(20)
      @include break-575
        +toREM(18)
    h3
      color: #656678
      +toREM(24)
      font-weight: 400
      @include break-575
        +toREM(18)
    p
      color: #878787
      font-weight: 300
      @include break-575
        +toREM(15)

@mixin circle($base, $h3, $p, $ln, $margin)
  .products-circle
    $height: $base
    $width: $base
    height: $height
    width: $width
    border: solid 1px #ccc
    border-radius: 10000px
    display: flex
    align-items: center
    justify-content: center
    margin: $margin auto 0
    position: relative
    .stage
      text-align: center
      width: 500px
      h3
        +toREM($h3)
        color: $mainColor
      p
        +toREM($p)
        color: #C5C5C5
        width: 60%
        margin: 20px auto 0
        line-height: $ln
    .orbs
      & > div
        width: $width/4.5
        height: $height/4.5
        background: white
        border: solid 1px #eeeeee8f
        box-shadow: 0px 3px 8px 1px #C5C5C550
        position: absolute
        border-radius: 1000px
        display: flex
        align-items: center
        justify-content: center
        transition: all ease .3s
        img
          width: 3vmax
        &:hover, &.active
          background-color: #5F5F5F
          cursor: pointer
          img
            filter: brightness(10)
        &:nth-child(1)
          top: 0
          left: 50%
          margin-left: -(($width/4.5)/2)
          margin-top: -(($height/4.5)/2)

        &:nth-child(2)
          bottom: 0
          left: 50%
          margin-left: -(($width/4.5)/2)
          margin-bottom: -(($height/4.5)/2)

        &:nth-child(3)
          top: 50%
          left: 0
          margin-left: -(($width/4.5)/2)
          margin-top: -(($height/4.5)/2)

        &:nth-child(4)
          top: 50%
          right: 0
          margin-right: -(($width/4.5)/2)
          margin-top: -(($height/4.5)/2)

        &:nth-child(5)
          top: 25%
          left: 25%
          margin-left: -(($width/4.5)/1)
          margin-top: -(($height/4.5)/1)

        &:nth-child(6)
          bottom: 25%
          left: 25%
          margin-left: -(($width/4.5)/1)
          margin-bottom: -(($height/4.5)/1.1)

        &:nth-child(7)
          bottom: 25%
          right: 25%
          margin-right: -(($width/4.5)/1)
          margin-bottom: -(($height/4.5)/1)

        &:nth-child(8)
          top: 25%
          right: 25%
          margin-right: -(($width/4.5)/1)
          margin-top: -(($height/4.5)/1)

@include circle(500px, 30, 18, 30px, 100px)

@include break-1450
  @include circle(400px, 23, 15, 23px, 100px)

@include break-575
  @include circle(270px, 17, 12, 17px, 50px)

section#solutions
  position: relative
  @include break-991
    margin-top: 100px
    margin-bottom: 100px
  & > .container > .row
    align-items: center
  .brands
    padding: 0 15px
    align-items: center
    justify-content: space-between
    img
      width: fit-content
      width: -moz-fit-content
      height: fit-content
      height: -moz-fit-content
      @include break-991
        width: 15%
        height: auto
  .text-block
    p
      color: #B7B7B7
      +toREM(16)
      font-weight: 500
      @include break-991
        +toREM(15)
        font-weight: 400
  &::after
    content: url('../img/background-header.svg')
    position: absolute
    right: 0
    z-index: -1
    object-fit: none
    width: 500px
    top: -200px
    overflow: hidden

section#everything
  .items
    justify-content: center
    .item
      border: solid 1px #eee
      background: white
      box-shadow: 0 5px 7px 1px #eeeeee90
      img
        width: 100%
      a
        width: 100%
        background: $mainColor
        color: white
        display: block
        text-align: center
        padding: 30px 0
        font-weight: 500
        +toREM(18)
        text-decoration: none!important
        transition: background ease .3s
        &:hover
          background: #e01920
          & ~ .capsule
            h4
              color: white
      .capsule
        padding: 30px
        text-align: center
        h4
          +toREM(19)
          color: #1f3309
          font-weight: 500
        p
          font-weight: 500
          +toREM(14)
          color: #B8B7B7
          margin: 25px 0

section#contactArea
  background: linear-gradient(0deg, #D4E8FF, transparent)

.form-title
  +toREM(50)
  font-weight: 500
  line-height: 3.8rem
  @include break-1199
    +toREM(40)
    line-height: 3rem
  @include break-991
    +toREM(30)
    line-height: 2.5rem
  @include break-768
    +toREM(25)
    line-height: 2rem
    text-align: center

.adjust-md
  @include break-768
    width: 250px
    margin: 0 auto
    display: block
form
  .form-group
    position: relative
    label
      position: absolute
      color: #b9b9b9
      top: 8px
      left: 18px
      background: white
      padding: 6px 15px
      transition: all ease .3s
      width: 80%
      +toREM(16)
    input, textarea, select
      border: solid 1px #9B9797
      border-radius: 4px
      padding: 20px 18px 7px
      outline: none!important
      box-shadow: none!important
      height: auto
      +toREM(15)
      &:focus
        border-color: $mainColor
    select
      padding: 25px 18px 7px
  .policy
    +toREM(14)
    color: black

.yourBusiness
  h5
    @include break-1199
      +toREM(16)
      line-height: 20px

.gray-section
  background: $secColor
  padding: 45px 35px
  border-radius: 20px
  position: relative
  @include break-1199
    text-align: center
  h2
    +toREM(36)
  p
    +toREM(20)
  .image-absolutize
    position: absolute
    right: -2px
    top: -56px
    @include break-1199
      position: static
      margin: 15px auto 0

footer
  background: $secColor
  .left-side
    img
      filter: brightness(10)
      margin-bottom: 30px
  p,h4
    color: white
    @include break-768
      padding: 0 20px
  .right-side
    h4
      +toREM(20)
    p
      +toREM(14)
    .social
      width: 60%
      display: flex
      height: 30px
      justify-content: space-between
      align-items: center
      @include break-768
        margin: 0 auto
      img
        margin: 0
  .copyright
    border-top: solid 1px white
    @include break-768
      padding: 0 20px
    p
      width: 100%
      text-align: center
      +toREM(16)
    @include break-768
      +toREM(14)
